@import "tailwindcss";
@theme {
  --container-center: true;

  --container-padding-default: 1rem;

  --container-padding-sm: 2rem;

  --container-padding-lg: 4rem;

  --container-padding-xl: 5rem;

  --container-padding-2xl: 6rem;
}
